In [121]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [122]:
data = pd.read_csv('Flight_price.csv')
data

,Unnamed: 0,Flight,Date,Duration,Source,Destination,Departure,Arrival,Stops,Meal,Price
0,0,SpiceJet,29/09/2022,2h 30m,New Delhi,Bangalore,20:00,22:30,Non Stop,No Meal,"7,419"
1,1,SpiceJet,29/09/2022,2h 50m,New Delhi,Bangalore,6:05,8:55,Non Stop,No Meal,"7,419"
2,2,Air India,29/09/2022,2h 50m,New Delhi,Bangalore,21:15,0:05,Non Stop,Free Meal,"7,425"
3,3,Air Asia,29/09/2022,5h 30m,New Delhi,Bangalore,15:30,21:00,1 Stop,No Meal,"7,710"
4,4,Air Asia,29/09/2022,6h 15m,New Delhi,Bangalore,8:00,14:15,1 Stop,No Meal,"7,710"
...,...,...,...,...,...,...,...,...,...,...,...
1626,1626,VISTARA,02/10/2022,1hr 55min,Mumbai,New Delhi,12:25,14:20,non-stop,Available,5943
1627,1627,VISTARA,02/10/2022,2hr 5min,Mumbai,New Delhi,6:30,8:35,non-stop,Available,5943
1628,1628,VISTARA,02/10/2022,2hr 5min,Mumbai,New Delhi,7:30,9:35,non-stop,Available,5943
1629,1629,VISTARA,02/10/2022,2hr 15min,Mumbai,New Delhi,21:55,0:10,non-stop,Available,5943
1630,1630,VISTARA,02/10/2022,2hr 15min,Mumbai,New Delhi,22:45,1:00,non-stop,Available,5943

In [125]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1631 entries, 0 to 1630
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1631 non-null   int64
 1   Flight       1631 non-null   object
 2   Date         1631 non-null   object
 3   Duration     1631 non-null   object
 4   Source       1631 non-null   object
 5   Destination  1631 non-null   object
 6   Departure    1631 non-null   object
 7   Arrival      1631 non-null   object
 8   Stops        1631 non-null   object
 9   Meal         1631 non-null   object
 10  Price        1631 non-null   object
dtypes: int64(1), object(10)
memory usage: 140.3+ KB

In [127]:
a = []
for i in data['Price']:
    a.append(i.replace(',',''))

In [128]:
b = []
for i in a:
    b.append(i.replace('1 left at',''))

In [129]:
c = []
for i in b:
    c.append(i.replace('2 left at',''))

In [130]:
d = []
for i in c:
    d.append(i.replace('3 left at',''))

In [131]:
e = []
for i in d:
    e.append(i.replace('4 left at',''))

In [132]:
data['Price'] = e

In [133]:
data['Stops'].replace('non-stop','Non Stop',inplace = True)

In [134]:
data['Stops'].replace('1 stop','1 Stop',inplace = True)

In [135]:
data['Flight'].replace('VISTARA','Vistara', inplace = True)
data['Flight'].replace('INDIGO','IndiGo', inplace = True)
data['Flight'].replace('AIRASIA INDIA','Air Asia', inplace = True)
data['Flight'].replace('AIR INDIA','Air India', inplace = True)
data['Flight'].replace('SPICEJET','SpiceJet', inplace = True)
data['Flight'].replace('GO FIRST','Go First', inplace = True)

In [139]:
z = []
for i in data['Duration']:
    z.append(i.replace('hr','h'))

In [142]:
data['Duration'] = z

In [146]:
x = []
for i in data['Duration']:
    x.append(i.replace('min','m'))

In [148]:
data['Duration'] = x

In [150]:
data.drop('Unnamed: 0',axis = 1)

,Flight,Date,Duration,Source,Destination,Departure,Arrival,Stops,Meal,Price
0,SpiceJet,29/09/2022,2h 30m,New Delhi,Bangalore,20:00,22:30,Non Stop,No Meal,7419
1,SpiceJet,29/09/2022,2h 50m,New Delhi,Bangalore,6:05,8:55,Non Stop,No Meal,7419
2,Air India,29/09/2022,2h 50m,New Delhi,Bangalore,21:15,0:05,Non Stop,Free Meal,7425
3,Air Asia,29/09/2022,5h 30m,New Delhi,Bangalore,15:30,21:00,1 Stop,No Meal,7710
4,Air Asia,29/09/2022,6h 15m,New Delhi,Bangalore,8:00,14:15,1 Stop,No Meal,7710
...,...,...,...,...,...,...,...,...,...,...
1626,Vistara,02/10/2022,1h 55m,Mumbai,New Delhi,12:25,14:20,Non Stop,Available,5943
1627,Vistara,02/10/2022,2h 5m,Mumbai,New Delhi,6:30,8:35,Non Stop,Available,5943
1628,Vistara,02/10/2022,2h 5m,Mumbai,New Delhi,7:30,9:35,Non Stop,Available,5943
1629,Vistara,02/10/2022,2h 15m,Mumbai,New Delhi,21:55,0:10,Non Stop,Available,5943
1630,Vistara,02/10/2022,2h 15m,Mumbai,New Delhi,22:45,1:00,Non Stop,Available,5943

In [151]:
data.to_csv('Flight_price_dataset.csv',index = False)